.module-34 {
  padding-top: 50px;
  padding-left: 100px;
  background-image: url(../images/background-img.png);
  height: 800px; }
  .module-34 .menu-34 {
    background-image: url(../images/slider-leafs.png);
    background-size: cover; }
    .module-34 .container-34 .logo {
      text-align: center; }
      .module-34 .container-34 .logo .hinh {
        width: 150px;
        height: 150px; }
    .module-34 .container-34 .home {
      color: #88B44E; }
    .module-34 .container-34 a {
      color: white;
      text-decoration: none; }
      .module-34 .container-34 a:hover {
        background: none;
        color: #88B44E; }
        .module-34 .container-34 a:hover .right {
          transform: rotate(90deg); }
    .module-34 .container-34 .menu {
      margin: 50px; }
    .module-34 .container-34 .navbar-right {
      margin-right: 75px; }
    .module-34 .container-34 .dropdown-item {
      color: black; }
    .module-34 .container-34 .dropdown {
      position: relative;
      display: inline-block;
      color: black; }
    .module-34 .container-34 .dropdown-content {
      padding-left: 15px;
      line-height: 4rem;
      width: 200px;
      display: none;
      position: absolute;
      background-color: white;
      z-index: 1;
      list-style: none;
      border-bottom: 5px solid #88B44E; }
    .module-34 .container-34 .dropdown:hover .dropdown-content {
      display: block; }
    .module-34 .container-34 .contents-title {
      text-align: center; }
      .module-34 .container-34 .contents-title .content1 {
        font-size: 500%;
        color: white; }
      .module-34 .container-34 .contents-title .content2 {
        font-size: 500%;
        color: #88B44E; }
      .module-34 .container-34 .contents-title .content3 {
        color: white; }
