$colorHover: #a8642a;
$colorTheA: #a5a8aa;
.module-1583{
    footer{
        background-color: black;
        color:white; 
        padding: 14px;
        a{
            text-decoration: none;
            color: white;
        }
        .footer-left{
        text-align: center;
        }
        .row-right{
        width: 250px;
        }
    }
    .module-container{
        border-top: 4px solid #000;
        padding: 40px 0px 40px 0px;

        .module-row{
            text-align: center;
        }
        .left{
            .content-left{
                padding: 20px 0px 20px 0px;
            }
        }
        .center{
            .form-center{
                padding: 10px 0px 10px 0px;
            }
            .subcribe-center{
                margin: 10px;
                background-color: black;
                color:white;
                padding: 6px 15px 6px 15px;
            }
        }
        .right{
            a{
                text-decoration: none;
            }
            .boder{
                margin-left: 150px;
                margin-top: 20px;
                margin-bot: 20px;
                width:60px;
                border-top: 1px solid #000;
            }
            .email1{
                line-height: 0.5rem;
                .emailhover1{
                    color:$colorTheA;
                    &:hover{
                        color: $colorHover;
                    }
                }
            }
            .email2{
                margin-top: 20px;
                margin-bot: 20px;
                line-height: 0.5rem;
                .emailhover1{
                    color:$colorTheA;
                    &:hover{
                        color: $colorHover;
                    }
                }
            }	
        }

    }

}

