.module-1583 footer {
  background-color: black;
  color: white;
  padding: 15px; }
  .module-1583 footer a {
    text-decoration: none;
    color: white; }
  .module-1583 footer .footer-left {
    text-align: center; }
  .module-1583 footer .row-right {
    width: 250px; }
.module-1583 .module-container {
  margin: 40px;
  border-top: 4px solid #000;
  padding: 40px 0px 40px 0px; }
  .module-1583 .module-container .module-row {
    text-align: center; }
    .module-1583 .module-container .left .content-left {
      padding: 20px 0px 20px 0px; }
  .module-1583 .module-container .center .form-center {
    padding: 10px 0px;
    margin-bottom: 10px; }
  .module-1583 .module-container .center .subcribe-center {
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none; }
.module-1583 .module-container .right a {
  text-decoration: none; }
.module-1583 .module-container .right .boder {
  margin-left: 150px;
  margin-top: 20px;
  margin-bot: 20px;
  width: 60px;
  border-top: 1px solid #000; }
.module-1583 .module-container .right .email1 {
  line-height: 0.5rem; }
  .module-1583 .module-container .right .email1 .emailhover1 {
    color: #a5a8aa; }
    .module-1583 .module-container .right .email1 .emailhover1:hover {
      color: #a8642a; }
.module-1583 .module-container .right .email2 {
  margin-top: 20px;
  margin-bot: 20px;
  line-height: 0.5rem; }
  .module-1583 .module-container .right .email2 .emailhover1 {
    color: #a5a8aa; }
    .module-1583 .module-container .right .email2 .emailhover1:hover {
      color: #a8642a; }
