$colorHover: #a8642a;
.module-1583{
    margin-top:30px;
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-container > div {
        width: 100px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
    .nav-fill{
      width: 300px; margin-left: 350px;
    }
    a{
      color: black;
      &:hover{
        color: $colorHover;
        text-decoration: none;
      }
    }
}